<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="titulacionConnectionString" connectionString="Data Source=practic.database.windows.net;Initial Catalog=titulacion;Persist Security Info=True;User ID=administrador;Password=jSsA1991"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>